---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Ravenbourne &middot; Research Projects Explorer</title>
  <link rel='stylesheet' href='{{site.baseurl}}/fonts/open-sans.css'/>
  <link rel='stylesheet' href='{{site.baseurl}}/app.css'/>
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
</head>
<body>
  <div id='container'>
    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      This website is a work in progress.
    </div>
  </div>

</body>
</html>
